* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

.screen {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.screen::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .6);
}

.content {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-size: 20vw; /* font size collegato alla larghezza del viewport che fa cambiare le dimensioni del testo al ridimensionamento del viewport */
	font-weight: 700;
}

.roma {
	background-image: url(../img/roma.jpg);
}

.napoli {
	background-image: url(../img/napoli.webp);
}

.milano {
	background-image: url(../img/milano.jpg);
}